{% extends 'base.html' %}
{% load i18n crispy_forms_tags tickle_hacks markdown_deux_tags %}

{% block title %}{{ block.super }} – {% trans 'Economic report' %}{% endblock %}

{% block header %}{% trans 'Economic report' %}{% endblock %}

{% block content %}
    <h2>{% trans 'Summary' %}</h2>
    <table class="table">
        <tr>
            <th>{% trans 'Total invoiced amount (for current invoices)' %}</th>
            <td align="right">{{ total_invoiced_amount }}</td>
        </tr>
        <tr>
            <th>{% trans 'Total payed amount (for current invoices)' %}</th>
            <td align="right">{{ total_payed_amount }}</td>
        </tr>
        <tr>
            <th>{% trans 'Diff due to fuzzy payment matching (for payed invoices)' %}</th>
            <td align="right">{{ fuzzy_matching_diff }}</td>
        </tr>
    </table>
    <h2>{% trans 'Product breakdown' %}</h2>
    <table class="table">
        <thead>
        <tr>
            <th>{% trans 'Product' %}</th>
            <th align="right">{% trans 'Price' %}</th>
            <th align="right">{% trans 'Invoiced quantity' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in summary %}
        <tr>
            <th>{{ product.title }}</th>
            <td align="right">{{ product.price }}</td>
            <td align="right">{{ product.purchased_quantity }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
